extends layout 
 
block content 
  h1(class = 'container-fluid p-5 bg-info text-warning text-center')= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Pizzaid = toShow._id 
    - let Pizza_Name = toShow.Pizza_Name 
    - let Pizza_Type = toShow.Pizza_Type 
    - let Pizza_Cost = toShow.Pizza_Cost 
    - let Pizza_Toppings = toShow.Pizza_Toppings 
    - let actionid = "/resource/pizza/" + Pizzaid 
    script let actionid = "#{actionid}" 
    div(class="container text-center")
      div(class='justify-content-center p-2 text-center text-dark',style='background-color:#d0ff00') 
        div.row 
          div(class='p-2 flex-fill pizzaAttr mr-3') Pizza Name is: 
          div #{Pizzaid} 
        div.row 
          div(class='p-2 flex-fill pizzaAttr mr-3') Pizza Type is: 
          div #{Pizza_Type} 
        div.row 
          div(class='p-2 flex-fill pizzaAttr mr-3') Pizza Cost is: 
          div #{Pizza_Cost} 
        div.row 
          div(class='p-2 flex-fill pizzaAttr mr-3') Pizza Toppings is: 
          div #{Pizza_Toppings}
      div
        button(class="btn btn-secondary m-2" onclick="deleteOnid()") Delete 
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the costume collection 
      window.location.href='/pizza' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/pizza' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    }